 body {
    background-color: rgb(251, 253, 168);
    }

footer{ 
    background-color: rgb(247, 144, 194);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.6rem;
